# coding: utf-8


#URL MUST END WITH '/'. Example : 'http://189.87.118.87/'
URL_APPLICATION="http://localhost:5000/"

###DATABASE CONNEXION####
DATABASE_NAME = "mydatabase"
USER = "myuser"
PASSWORD = "mypass"
HOST = 'localhost'
PORT = 5432





###DATABASE CONFIGURATION####

ID_OBSERVATION = 'id_synthese'
GEOM_NAME = 'geom_point'
# OBSERVATION TABLE NAME: SCHEMA.TABLE
OBS_TABLE = 'synthese.releve'
# TAXREF TABLE NAME: SCHEMA.TABLE
TAXREF_TABLE = 'taxonomie.taxref'
OBSERVATEUR_FIELD = 'observateur'
PROTOCOLE_FIELD = 'protocole'
VALIDE_FIELD = 'valide'

## DATABASE REQUEST ### 

LOAD_OBS = """ SELECT f."""+ID_OBSERVATION+""" AS id_synthese, f."""+OBSERVATEUR_FIELD+""" AS observateur, f."""+PROTOCOLE_FIELD+""" AS protocole, f.cd_nom, t.nom_vern, t.lb_nom, f.date, ST_AsGeoJSON(ST_TRANSFORM("""+GEOM_NAME+""", 4326)) AS geom
				FROM """+OBS_TABLE+""" f
				JOIN """+TAXREF_TABLE+""" t ON t.cd_nom = f.cd_nom
				WHERE f."""+VALIDE_FIELD+""" = FALSE """


MAPCONFIG = {'center': [16.2412500, -61.5361400]}